---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive

IncludeCategories:
  # wlroots and Wayland headers first
  - Regex: '^<wlr/'
    Priority: 1
  - Regex: '^<wayland'
    Priority: 2
  # System headers
  - Regex: '^<'
    Priority: 3
  # Project-local headers
  - Regex: '^"'
    Priority: 4
